<p style='font-family:verdana; font-size:16;'>This is font size 16.</p>
<style>
body{
margin:0px;
padding:0px;
background:#fff url(000.jpg) center center fixed no-repeat;　//設定背景圖片的呈現方式
background-size: cover;　//設定背景圖片的填滿方式
}        
</style>